<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="home page for classic website template">
    <meta name="keywords" content="template, website template, classic template">
    <meta name="author" content="Aaron Griffin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic | Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Assets/Styles/stylesheet.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <h1 class="ml-2 ml-lg-5 mt-2 mt-lg-0 font-weight-normal brand">Name Of Site</h1>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-fill ml-auto mr-lg-5 text-center">
            <li class="nav-item p-3">
              <a class="nav-link px-4" href="index.html">Home</a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link px-4" href="about.html">About</a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link px-4" href="services.html">Services</a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link px-4" href="gallery.html">Galley</a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link px-4" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section>
          <h3 class="ml-5">GALLERY</h3>
          <hr class="line mx-5">
          <p class="w-75 ml-5">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire.</p>
      </section>
      <section>
          <div class="row w-100">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mt-3 mt-lg-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mt-3 mt-lg-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mt-4 mt-xl-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mx-auto mt-3 mt-lg-4 mt-lg-0 mt-xl-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row w-100 mt-2 mt-md-4">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mt-3 mt-lg-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mt-3 mt-lg-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mt-4 mt-xl-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mx-auto mt-3 mt-lg-4 mt-lg-0 mt-xl-0">
              <div class="card ml-4 ml-xl-4">
                <img src="Assets/Images/camera.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
      </section>
    </main>
    <footer class="mt-3 mt-lg-4 color">
        <div class="row w-100 mb-4 mb-lg-0 pt-3 pb-2 pb-lg-4 pr-0">
          <div class="col-8 col-lg-6 text-center">
            <h5>© 2020 by Name of Site. All Rights Reserved</h5>
            <p class="mb-0 text-left company-detail"><a href="">Company Email:</a></p>
            <p class="mb-0 ml-2 ml-lg-5 company-detail"><a href="" class="ml-2 ml-md-5">Company Number:</a></p>
          </div>
          <div class="col-4 col-lg-6 pr-0 text-center">
            <a href="" class="fa fa-facebook mr-0 mr-md-1"></a>
            <a href="" class="fa fa-instagram mr-0 mr-md-1"></a>
            <a href="" class="fa fa-twitter mr-0 mr-md-5"></a>
          </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
