a.fa{
  text-decoration: none;
  vertical-align: middle
}
.fa-facebook{
  font-size: 27px;
  background-color: rgb(57,86,156);
  color: white;
  padding: 4px 3px 0px 11px;
}
.fa-facebook:hover{
  background-color: rgb(57,86,156);
  color: white;
}
.fa-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
}
.fa-twitter{
  padding: 5px 5px 5px 5px;
  color: white;
  background-color: RGB(29,161,242);
  font-size: 20px;
}
.fa-twitter:hover{
  color: white;
  background-color: RGB(29,161,242);
}
.nav-item{
  background-color: #E8E6E6;
}
.nav-item .nav-link{
  color: black;
}
.nav-item .nav-link:hover{
  background-color: #767676;
  color: white;
}
.brand{
  color: #767676;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.card-cont{
  position: relative;
}
.title{
  position: absolute;
  top: 8px;
  left: 16px;
}
.color{
  background-color: #C7C7C7;
}
.company-detail{
  display: inline-block;
}
.line{
  border-width: thin;
  text-align: left;
  background-color: #767676;
  margin-left: 0;
}
.card{
  border: none;
  box-shadow: 0px 0px 10px 1px gray;
}
.position{
  display: inline-block;
  float: right;
  margin-top: -34%;
  width: 48%;
}
.btn-primary{
  background-color: #373B4D;
}
.btn-primary:hover{
  background-color: #373B4D;
}
.btn-position{
  float: right;
}
.margin{
  width: 50%;
  margin-left: 11%;
  border-width: thin;
  text-align: left;
  background-color: #767676;
}
.form-width{
    width: 50%;
}
#map{
  width: 1100px;
  height: 600px;
}
@media (min-width: 319px) and (max-width: 370px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .contact{
    display: inline-block;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -85%;
  }
  .margin{
    margin-left: 35%;
  }
  .form-width{
    width: 49%;
    font-size: 16px;
  }
  #map{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 371px) and (max-width: 400px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -70%;
  }
  .margin{
    margin-left: 35%;
  }
  .form-width{
    width: 49%;
    font-size: 16px;
  }
  #map{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 401px) and (max-width: 450px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -60%;
  }
  .margin{
    margin-left: 35%;
  }
  .form-width{
    width: 49%;
    font-size: 16px;
  }
  #map{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 451px) and (max-width: 583px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -52%;
  }
  .margin{
    margin-left: 30%;
  }
  #map{
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 584px) and (max-width: 626px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -45%;
  }
  .margin{
    margin-left: 30%;
  }
  #map{
    width: 550px;
    height: 300px;
  }
}
@media (min-width: 623px) and (max-width: 700px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -45%;
  }
  .margin{
    margin-left: 30%;
  }
  #map{
    width: 470px;
    height: 300px;
  }
}
@media (min-width: 701px) and (max-width: 768px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -46%;
  }
  .margin{
    margin-left: 30%;
  }
  #map{
    width: 520px;
    height: 300px;
  }
}
@media (min-width: 769px) and (max-width: 902px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -36%;
  }
  .margin{
    margin-left: 30%;
  }
  #map{
    width: 700px;
    height: 350px;
  }
}
@media (min-width: 903px) and (max-width: 992px){
  .brand{
    font-size: 25px;
  }
  .fa-facebook{
    font-size: 30px;
  }
  .fa-instagram{
    font-size: 40px;
  }
  .fa-twitter{
    font-size: 25px;
  }
  .mobile-position{
    align-items: center;
    text-align: center;
  }
  .line{
    margin-left: auto;
    margin-right: auto;
  }
  .position{
    margin-top: -36%;
  }
  .margin{
    margin-left: 30%;
  }
  #map{
    width: 700px;
    height: 350px;
  }
}
@media (min-width: 993px) and (max-width: 1200px){
  .position{
    margin-top: -40%;
  }
  .margin{
    margin-left: 20%;
  }
  #map{
    width: 900px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px){
  .position{
    margin-top: -35%;
  }
}
@media (min-width: 1900px) and (max-width: 2199px){
  .position{
    margin-top: -34%;
  }
}
@media (min-width: 2200px){
  .position{
    margin-top: -34%;
  }
}
@media (min-width: 993px){
  .hidden{
    display: hidden;
  }
}
