<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="One Page website template">
    <meta name="keywords" content="template, website template, classic template">
    <meta name="author" content="Aaron Griffin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Assets/Styles/stylesheet.css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <h1 class="ml-2 ml-lg-5 mt-2 mt-lg-0 font-weight-normal brand">Name Of Site</h1>
          <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-fill ml-auto mr-lg-5 text-center">
              <li class="nav-item p-3">
                <a class="nav-link px-4" href="#home">Home</a>
              </li>
              <li class="nav-item p-3">
                <a class="nav-link px-4" href="#about">About</a>
              </li>
              <li class="nav-item p-3">
                <a class="nav-link px-4" href="#services">Services</a>
              </li>
              <li class="nav-item p-3">
                <a class="nav-link px-4" href="#work">Work</a>
              </li>
              <li class="nav-item p-3">
                <a class="nav-link px-4" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section id="home">
        <div class="bg mt-0">
          <div class="container h-100 d-flex align-items-center justify-content-center flex-column">
            <h3 class="">Im a title</h3>
            <p class="">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
          </div>
        </div>
      </section>
      <section id="about">
        <h2 class="text-center mt-2">About</h2>
        <hr class="line mx-5">
        <div class="container d-flex flex-column justify-content-center">
          <p class="">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
          <p class="">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
          <img src="Assets/Images/camera1.jpg" class="img-fluid">
        </div>
      </section>
      <section id="services">
        <h2 class="text-center mt-2">Services</h2>
        <hr class="line mx-5">
        <div class="container">
          <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card-cont">
                <img src="Assets/Images/camera1.jpg" class="img-fluid rounded-circle" alt="...">
                <h3 class="text-center">TITLE</h3>
                <p>I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card-cont">
                <img src="Assets/Images/camera1.jpg" class="img-fluid rounded-circle" alt="...">
                <h3 class="text-center">TITLE</h3>
                <p>I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card-cont">
                <img src="Assets/Images/camera1.jpg" class="img-fluid rounded-circle" alt="...">
                <h3 class="text-center">TITLE</h3>
                <p>I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="work">
        <h2 class="text-center">Work</h2>
        <hr class="line mx-5">
        <div class="container">
          <div class="row mt-0 mt-lg-4">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 mt-lg-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 mt-lg-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 mt-lg-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mx-auto mt-3 mt-lg-4 mt-xl-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-0 mt-lg-4">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 mt-lg-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 mt-lg-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 mt-lg-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mx-auto mt-3 mt-lg-4 mt-xl-0">
              <div class="card">
                <img src="Assets/Images/camera1.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <h2 class="text-center mt-3">Contact</h2>
        <hr class="line mx-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 mobile-position">
              <p>Tel: 01458 649275</p>
              <p>Fax: 01458 649275</p>
              <hr class="line w-50">
              <p>123 fake road st<br>fake city, post code<br> email address</p>
              <div class="mt-lg-5">
                <a href="" class="fa fa-facebook mr-0 mr-lg-1"></a>
                <a href="" class="fa fa-instagram mr-0 mr-lg-1"></a>
                <a href="" class="fa fa-twitter mr-0 mr-lg-5"></a>
              </div>
            </div>
            <div class="col-12 col-lg-8 mt-4 mt-lg-0">
              <form class="">
                <div class="form-group">
                  <label for="exampleInputName">Enter Your Name*</label>
                  <input type="text" class="form-control p-0" id="exampleInputName" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter You Email address*</label>
                  <input type="email" class="form-control p-0" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                  <label class="form-check-label" for="exampleCheck1">Enter Your Subject</label>
                  <input type="text" class="form-control p-0" id="exampleCheck1">
                </div>
                <div class="ml-1">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter Your Message</label>
                    <textarea class="form-control p-0" id="exampleFormControlTextarea1" rows="8"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-position px-4 mr-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="mt-3 mt-lg-4">
      <div class="container color">
        <div class="row  mb-4 mb-lg-0 pt-3 pb-2 pb-lg-4">
          <div class="col-8 col-lg-6">
            <h5>© 2020 by Name of Site. All Rights Reserved</h5>
            <p class="mb-0 text-left company-detail"><a href="">Email:</a></p>
            <p class="mb-0 ml-2 ml-lg-5 company-detail"><a href="" class="ml-5">Number:</a></p>
          </div>
          <div class="col-4 col-lg-6 text-right">
            <a href="" class="fa fa-facebook mr-0 mr-md-1"></a>
            <a href="" class="fa fa-instagram mr-0 mr-md-1"></a>
            <a href="" class="fa fa-twitter mr-0 mr-md-5"></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
